@model SAOnlineProject1.Models.UserOrderHeader

@{
    ViewData["Title"] = "Order Success";
}

<div class="container">
    <h1>Order Successful!</h1>


  
    
        <h2>Thank you for your order!</h2>
        <p>Your order has been successfully placed.</p>
    

    <div class="mt-4">
        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Return to Home</a>
    </div>
</div>

